# Ignore asset data images
assets/data/*.jpg
assets/data/*.png
assets/data/*.jpeg

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# Dependency folders (if using npm/yarn)
node_modules/

# Environment variables
.env

# VS Code settings
.vscode/